body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

a, p, div, h1, h2, h3, h4, h5, span, i, fa, li,, h, input, option, body {
    color: #45425D !important
}

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding: 50px;
}

.login-box {
    width: 100%;
    max-width: 400px;
}

.login-container .image-container {
    padding: 0px !important;
}

.login-container .form-container {
    border-radius: 0px !important;
}

.welcomeLogoText {
    /* display: inline-block !important; */
}

.welcomeLogoText img.logo {
    display: inline-block;
    /* width: 160px; */
}

.loginContainerClass .welcomeLogoText h3 {
    display: inline-block;
    width: 200px;
    font-size: 24px;
    font-weight: bold;
}



.loginContainerClass h4 {
    font-size: 22px;
    font-weight: bold;
}

.loginContainerClass {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.notification-box.yellow-notification {
    display: inline-block;
    color: #f4b400 !important;
    font-weight: bold;
}

.logo {
    width: 80px;
}

.btn-group .btn {
    width: 50%;
    border: 1px solid #ccc;
}

.btn-group .btn.active {
    background-color: #007bff;
    color: white;
}

.form-control {
    border-radius: 10px;
    padding: 12px;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.image-container img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.footer-text {
    font-size: 12px;
    color: gray;
}

.notification-box {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 15px;
    border-radius: 8px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.notification-box.yellow-notification {
    color: #666;
}

.notification-box.yellow-notification .highlight {
    color: #f4b400; /* Gold color for "esmartcampus" */
    font-weight: bold;
}


.register-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 80px;
}

.form-group {
    text-align: left;
}

.btn-group button {
    width: 50%;
}

.image-container img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.footer-text {
    font-size: 14px;
    color: #666;
}



.profile-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo {
    width: 80px;
}

.user-icon i {
    font-size: 50px;
    color: #6c757d;
}

.input-group-text {
    background-color: #e9ecef;
    border-right: 0;
}

.input-group input {
    border-left: 0;
}

.form-check-input {
    margin-top: 0;
}

.image-container img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.footer-text {
    font-size: 14px;
    color: #666;
}

.signInSignUpSection {
    padding: 4px;
    background-color: #f0f0f2 !important;
}

.signInSignUpSection.btn-group .btn {
    background-color: #f0f0f2;
    border: 0px;
    color: #45425D;
}

.signInSignUpSection.btn-group button.btn.btn-light.active {
    background-color: #fff;
    font-weight: bold;
    border-radius: 6px;
}

.LoginPageImailSection {
    display: flex;
}

.LoginPageImailSection span.input-group-text {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #fff;
    border-right: 0px !important;
}

.LoginPageImailSection input.form-control {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}

.LoginPageImailSection span.input-group-text:after {
    display: block;
    height: 5px;
    width: 2px;
    background-color: #ccc;
}

.login-container {
    width: 100% !important;
    max-width: unset !important;
    padding: 0px !important;
}

.login-container > .row {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
}

.login-container .image-container img {
    border-radius: 0px !important;
}

.userHeader.adminUser span.userRoleHeader {
    background-color: #0798FF;
    margin-right: 0px;
    padding: 5px 10px;
    width: 120px !important;
}

.userHeader span.userRoleHeader {
    margin-right: 0px;
    padding: 5px 10px;
    width: 120px !important;
}

/* Custom styles for the home page */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#sidebar {
    /* position: fixed; */
    top: 0;
    left: 0;
    bottom: 0;
    /* width: 250px; */
    background-color: #343a40;
    color: white;
    padding-top: 20px;
}

    #sidebar .nav-link {
        color: white;
    }

        #sidebar .nav-link:hover {
            background-color: #495057;
        }

.carousel-inner img {
    height: 350px;
    object-fit: cover;
}

.card-deck .card {
    margin: 10px 0;
}

/** sidebar styles */

.PageBodyContent .container.d-flex.p-3.bg-light {
    max-width: unset;
}

body.PageBodyContent {
    display: flex;
    flex-direction: column;
}

footer.border-top.footer.text-muted {
    position: relative;
}

.navigation-bar {
    background-color: #fff;
}

nav#sidebar {
    background-color: unset !important;
}

    nav#sidebar a.nav-link.active {
        color: #55BAAA !important;
    }

    nav#sidebar a.nav-link {
        color: #45425D !important;
    }

        nav#sidebar a.nav-link:hover {
            color: #55BAAA !important;
            background: unset;
        }

/** END sidebar styles */

/** Top Nav Bar styles */

.headerContent {
    display: flex;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-bottom: 1%;
}

.mainContentBody .headerContent img {
    width: 30px !important;
    height: auto !important;
}

.headerContent input#search {
    display: inline-block;
    height: 38px;
    border-radius: 6px;
}

.headerContent button#searchButton {
    display: inline-block;
    height: 38px;
}

.headerContent .searchBoxHeader {
    display: inline-flex;
}

.headerContent .detailsHeader {
    display: inline-flex;
}

.headerContent span.userRoleHeader {
    width: 100% !important;
    display: block;
}

.headerContent span.userRoleHeader {
    margin-right: 0px !important;
}

/* END Top Nav Bar styles */

/* Home Page styles */

.mainContentBody img {
    width: 100% !important;
}

.widget-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.date-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.date-item {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-day {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
    background-color: #e9f5f7;
}

    .calendar-day.active {
        background-color: #4fc3a1;
        color: #fff;
    }

.headerContent span.userRoleHeader {
    background-color: #FFC107;
    width: 95Px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.userNameHeader {
    font-size: 18Px !important;
    font-weight: 500;
}

.headerContent {
    border-bottom: 1px solid #ccc;
}

.mainContentBody h2 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

ul.list-group.DasboardScheduled .list-group-item {
    display: flex;
    justify-content: space-between;
}



    ul.list-group.DasboardScheduled .list-group-item .classDetails {
        display: flex;
        flex-direction: column;
    }

    ul.list-group.DasboardScheduled .list-group-item .locationDetails {
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: space-between;
    }

    ul.list-group.DasboardScheduled .list-group-item span.className {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
    }

    ul.list-group.DasboardScheduled .list-group-item span.dateInfo.bg-info {
        display: inline-block;
        width: 100Px !important;
        text-align: center;
        font-size: 12px;
        padding: 1Px !important;
        border-radius: 7px;
        margin-top: 6px;
        background-color: #55baaa !important;
    }

    ul.list-group.DasboardScheduled .list-group-item span.locationInfo {
        font-size: 12px;
    }

    ul.list-group.DasboardScheduled .list-group-item span.teacherInfo {
        font-size: 12px;
    }

.container {
    max-width: unset !important;
    padding-left: 0;
    padding-right: 0;
}

.headerContent {
    padding-top: 15Px !important;
}

    .headerContent .searchBoxHeader {
        align-items: center;
    }

ul.list-group.DasboardScheduled .list-group-item span.dateInfo.bg-info {
    color: #fff;
}

button.btn.btn-success {
    background-color: #4fc3a1;
    font-weight: bold;
    outline: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: #4fc3a1;
    border: #4fc3a1;
}

.widget-box h5 {
    font-size: 18px;
}

.widget-box p {
    font-size: 14px;
}

.widget-box .form-check label {
    font-size: 14px;
}

nav#sidebar a.nav-link.active {
    background-color: #55baaa;
    color: #fff !important;
}

nav#sidebar a.nav-link {
    padding-left: 5%;
    padding-right: 5%;
    /* width: 90%; */
    border: 1;
    padding-top: 5%;
    padding-bottom: 5%;
}

    nav#sidebar a.nav-link:hover {
        background-color: #55baaa;
        color: #fff !important;
    }

li.nav-item {
    height: auto !important;
    display: inline-block;
    width: 100%;
}

ul.nav.flex-column {
    /* display: inline-block; */
}

.widget-box h5:after {
    display: inline-block;
    width: 60px;
}

.list-group-item span {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}

.widget-box .list-group-item p {
    font-size: 12px;
    margin-top: 5px;
}

.card-deck {
    display: flex;
    gap: 10px;
}

    .card-deck .card .card-body p.card-text {
        font-size: 14px;
        margin-top: 15px;
    }

.widget-box h5 {
    text-align: center;
}

    .widget-box h5::after {
        height: 1px;
        background-color: #ccc;
        content: "";
        width: 100%;
    }

#sidebar .welcomeLogoText img.logo {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: auto;
    display: block;
}

#sidebar .welcomeLogoText h3.mt-3 {
    color: #000;
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin-top: 0px !important;
    margin-bottom: 24px;
}
/* END Home Page styles */

/* Calendar Page styles */

.calendar-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.col-8 .calendar-container th {
    font-size: 14px;
}

.col-8 .calendar-container td {
    font-size: 14px;
}

.col-8 .calendar-container h4 {
    font-size: 16px;
    font-weight: bold;
}

.col-8 .calendar-container .scheduleTyes span {
    font-size: 14px;
    margin-right: 16px;
    vertical-align: middle;
    margin-right: 13px;
}

.col-8 .calendar-container span.moduleType::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #007BFF;
    border-radius: 4px;
    margin-right: 5px;
}

.col-8 .calendar-container span.eventsType::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #6C757D;
    border-radius: 4px;
    margin-right: 5px;
}

.col-8 .calendar-container span.workshopType::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #28A745;
    border-radius: 4px;
    margin-right: 5px;
}

.input-group-append {
    cursor: pointer;
}

.sheduleMeetingForm .container.mt-4.pl-0 {
    padding-left: 0Px;
    padding-right: 0Px;
}

.sheduleMeetingForm input#datepicker {
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: .575rem 2.25rem .3575rem .75rem;
}

.sheduleMeetingForm .container.mt-4.pl-0 i.gj-icon {
    margin: 5px 5px !important;
}

.sheduleMeetingForm h5 {
    margin-top: 40Px;
    text-align: center;
}

    .sheduleMeetingForm h5::after {
        content: "";
        display: block;
        width: 90%;
        height: 1Px;
        background-color: #ccc;
        margin-top: 10Px;
        margin-bottom: 10Px;
    }

.sheduleMeetingForm button.btn.btn-primary {
    margin-top: 15Px;
    background-color: #55baaa;
    outline: 0;
    border: 0;
    font-size: 16Px;
    font-weight: 700;
}

/* END Calendar Page styles */

/** Material Page */

.card h5 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.card ul.nav.nav-tabs {
    display: inline-block;
}

.card li.nav-item {
    display: inline-block;
    width: auto;
}

.card a.btn.btn-sm.btn-outline-primary {
    border-color: #4fc3a1;
}

.card i.bi.bi-download {
    color: #4fc3a1;
    font-weight: bold;
}

.d-flex.justify-content-left button {
    margin: 0px;
    margin-right: 10px;
}

/** END Material Page*/

/** Chat Room Page */

.chat-container {
    max-width: 400px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #66c2a5;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.message-content {
    background: #e9f7ef;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message-time {
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
}

.message-sender {
    font-weight: bold;
}

.chat-footer {
    display: flex;
    align-items: center;
    border-top: 2px solid #66c2a5;
    padding-top: 10px;
}

.chat-footer input {
    flex-grow: 1;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.send-btn {
    background: #66c2a5;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.chat-container {
    margin-left: 27px;
    margin-right: 0px;
}

.chat-message.myMessage {
    align-items: end !important;
    justify-content: right;
}

.fileSharingChat .form-control {
    display: inline-block;
    width: 40px !important;
    background: unset;
    font-size: 12px;
}

.fileSharingChat {
    display: inline-flex;
    width: 100% !important;
}

.chat-footer {
    width: 100% !important;
    justify-content: space-between;
}


.fileSharingChat button.btn {
    display: inline-block;
    background-color: #4fc3a1;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.chat-footer form {
    width: 100% !important;
}

.fileSharingChat .form-control::after {
    display: block;
    width: 20px;
}

/** END Chat Room Page */

/** Admin Dashboard */

.adminDashboardBody button.btn.btn-success {
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.adminDashboardBody .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.adminDashboardBody .card .card-header {
    background: unset;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: none;
}

.sheduleWorkshoPandEventForm button.btn.btn-primary {
    outline: #4fc3a1;
    border: #4fc3a1;
    background-color: #4fc3a1;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
}

.sheduleWorkshoPandEventForm h5 {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 18px;
    font-size: 18px;
    font-weight: 700;
}

.sheduleWorkshoPandEventForm .col-md-12,
.sheduleWorkshoPandEventForm .col-12 {
    margin-top: 12px;
}

/** END Admin Dashboard */

/** Create Profile Page */

.profile-container .ClassCreateProfiledatepicker input {
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: .575rem 2.25rem .3575rem .75rem;
    width: 100% !important;
    max-width: unset !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 50px !important;
}

.profile-container .profile-box .ClassCreateProfiledatepicker div {
    width: 86% !important;
    height: 50px !important;
}


.profile-container .ClassCreateProfiledatepicker i {
    top: 11px !important;
    left: 86%;
    font-size: 30px !important;
}

.profile-container .ClassCreateProfiledatepicker i,
.profile-container fa {
    font-size: 20px !important;
    top: 16px !important;
    left: 90%;
}

.profile-container .profile-box .ClassCreateProfiledatepicker div {
    display: inline-block;
}

.input-group.ClassCreateProfiledatepicker {
    width: 100% !important;
    display: inline-block;
    text-align: left !important;
}

.input-group.ClassCreateProfiledatepicker span.input-group-text {
    display: inline-block;
    height: 50px !important;
    vertical-align: top;
    padding-top: 14px;
}

/** END Create Profile Page */

/** User Management Page */

.AddingUserForms .col-4 {
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
    vertical-align: top;
}

.AddingUserForms .card h5 {
    margin-top: 20px;
}

.AddingUserForms > h5 {
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 24px;
    font-weight: bold;
}

/** END User Management Page */



/* Mobile Responsive */


@media (max-width: 1100px) {

    .calendar-day {
        font-size: 10px;
    }

    .col-md-12.ms-sm-auto.px-4 .row.mb-4 .col-8 .row.mt-3 {
        flex-direction: column;
        width: 100% !important;
    }

    .col-md-12.ms-sm-auto.px-4 .row.mb-4 .col-8 .row.mt-3 .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {

    .navigation-bar {
        width: 200px;
    }

    .mainContentBody .col-8,
    .mainContentBody .col-4 {
        display: inline-block !important;
        width: 94% !important;
    }

    .headerContent {
        width: 88% !important;
    }

    .mainContentBody .headerContent img {
        width: 20px !important;
    }

    button#userButton img {
        width: 38px !important;
    }

    span.userNameHeader {
        font-size: 16px !important;
    }

    .headerContent .searchBoxHeader {
        align-items: flex-start;
    }

    #sidebar .welcomeLogoText img.logo {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    #sidebar .welcomeLogoText h3.mt-3 {
        width: 100% !important;
        font-size: 20px;
    }

    nav#sidebar a.nav-link {
        width: 100% !important;
    }

    .container-fluid .row .col-md-12 .row .col-md-8,
    .container-fluid .row .col-md-12 .row .col-md-4 {
        width: 92% !important;
    }



 
}




@media (max-width: 768px) {
    .image-container {
        display: none;
    }

    nav#sidebar {
        display: none;
    }

    .HeaderNavBar.container.d-flex.bg-light {
        flex-direction: column;
    }

    .headerContent {
        width: 100% !important;
        margin: 0px;
        padding-left: 3%;
        padding-right: 3%;
    }

    .mainContentBody .col-8, .mainContentBody .col-4 {
        width: 100% !important;
    }

    .mainContentBody .col-8, .mainContentBody .col-4 {
        margin-top: 10px;
    }

    .calendar-container {
        margin-top: 10px;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        width: 100% !important;
    }

    .navigation-bar {
        width: 100% !important;
    }

    .container-fluid .row .col-md-12 .row .col-md-8, .container-fluid .row .col-md-12 .row .col-md-4 {
        width: 100% !important;
    }

    .chat-container {
        margin-left: auto;
        margin-right: auto;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        display: block !important;
    }

    .navbar-light .navbar-brand img.logo {
        width: 70px;
    }

    a.navbar-brand {
        display: inline-flex;
        align-items: center;
    }

        a.navbar-brand h3 {
            font-size: 14px;
        }

    .headerContent {
        padding-top: 0px !important;
    }

    .mainContentBody .headerContent img {
        width: 24px !important;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-nav a.nav-link {
        color: #45425D !important;
        padding: 2% !important;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-nav .nav-link i {
        margin-right: 10px;
        font-size: 18px;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-nav .nav-link.active {
        background-color: #55baaa;
        color: #fff !important;
    }

    .col-md-12.ms-sm-auto.px-4 .row.mb-4 .col-8 .row.mt-3 {
        margin-left: auto;
        margin-right: auto;
    }

    button#userButton img {
        margin-right: 10px;
    }

    .login-container {
        background-image: url(https://localhost:7198/images/LoginCoverImage.png) !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .col-md-6.d-flex.align-items-center.justify-content-center.form-container.loginContainerClass {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px !important;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }


    .container-fluid.vh-100.d-flex.align-items-center.justify-content-center.signUpPageEmail {
        background-image: url(https://localhost:7198/images/loginCoverImage.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .col-md-6.d-flex.flex-column.justify-content-center.text-center.p-5.loginContainerClass {
        background-color: #fff;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px !important;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .container-fluid.login-container.signUpPagePassword {
        background-image: url(https://localhost:7198/images/LoginCoverImage.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .col-md-6.d-flex.align-items-center.justify-content-center.form-container {
        margin-left: auto !important;
        margin-right: auto;
    }

    .register-container {
        justify-content: center;
        background-image: url(https://localhost:7198/images/LoginCoverImage.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .col-md-6.d-flex.align-items-center.justify-content-center.form-container {
        width: 90% !important;
        margin: auto;
        margin-top: 52%;
        margin-bottom: 10%;
    }

    .container-fluid.profile-container {
        justify-content: center;
        background-image: url(https://localhost:7198/images/LoginCoverImage.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}

@media (max-width: 600px){

    .card-deck {
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    button#userButton img {
        float: left;
    }

    span.userNameHeader {
        font-size: 15px !important;
    }

    .headerContent span.userRoleHeader {
        font-size: 12px !important;
        padding: 2px;
    }

    button#userButton {
        padding-right: 0px !important;
    }

}