@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewData["Title"] = "User Management age";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Smart Learning Campus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body class="bg-light">
    <div class="d-flex">

        <!-- Header -->
        <div class="row mb-4">
            <div class="col-12">

                <img src="~/images/HomePageBanner.png">
                


                <!-- New Schedules Section -->
                <div class="row mb-4">
                    <div class="col-12">
                        <form method="post" action="">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>NIC</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Password</th>
                                        <th>DOB</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>User Tye</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Input Row -->
                                    <tr>
                                        <td><input type="text" name="user_name" id="userName" class="form-control" required></td>
                                        <td><input type="text" name="user_nic" id="userNIC" class="form-control" required></td>
                                        <td><input type="number" step="0.1" id="userEmail" name="user_email" class="form-control" required></td>
                                        <td><input type="number" step="0.1" id="userPhoneNumber" name="user_Phonenumber" class="form-control" required></td>
                                        <td><input type="number" step="0.1" id="userPassword" name="user_Password" class="form-control" required></td>
                                        <td><input type="number" step="0.1" id="userDOB" name="user_DOB" class="form-control" required></td>
                                        <td><input type="number" step="0.1" id="userFirstName" name="user_firstname" class="form-control" required></td>
                                        <td><input type="number" step="0.1" id="userLastName" name="user_lastname" class="form-control" required></td>
                                        <td>

                                            <select id="inputUserTyPe" class="form-select">
                                                <option selected>Student</option>
                                                <option>Instructor</option>

                                            </select>
                                        </td>
                                        <td><button type="submit" class="btn btn-primary btn-block">Submit</button></td>
                                    </tr>


                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
